{% extends 'base.html.twig' %}
{% block title %}Авторизация. {{ parent() }}{% endblock %}

{% block body %}
<body class="signin-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        {% for flash_error in app.flashes('verify_email') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ flash_error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                        <h5 class="card-title text-center">Авторизация</h5>

                        {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form class="form-signin" action="{{ path('app_login') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-label-group">
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email" required autofocus>
                                <label for="username">Email</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Пароль" required>
                                <label for="password">Пароль</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me">
                                <label class="custom-control-label" for="customCheck1">Запомнить меня</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Войти</button>
                            <hr class="my-4">
                            <div class="text-center"><a href="{{ path('app_register') }}">Регистрация</a></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block footer %}{% endblock %}