{% extends 'base.html.twig' %}
{% block title %}Регистрация. {{ parent() }}{% endblock %}

{% block body %}
<body class="signin-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        {% for flash_error in app.flashes('error') %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ flash_error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}


                        <h1>Регистрация</h1>
                        {{ form_start(registrationForm, {
                            'attr': {'class': 'form-signin'}}
                        ) }}

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.email, {
                                'attr': {'class': 'form-control',
                                    'autofocus': 'autofocus',
                                    'placeholder': 'Email'}}
                            ) }}
                            {{ form_label(registrationForm.email) }}

                        </div>

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.firstName, {
                                'attr': {'class': 'form-control',
                                    'placeholder': 'Email'}}
                            ) }}
                            {{ form_label(registrationForm.firstName) }}
                        </div>

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.password.first, {
                                'attr': {'class': 'form-control',
                                    'placeholder': 'Пароль'}}
                            ) }}
                            {{ form_label(registrationForm.password.first) }}
                        </div>

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.password.second, {
                                'attr': {'class': 'form-control',
                                    'placeholder': 'Повторите пароль'}}
                            ) }}
                            {{ form_label(registrationForm.password.second) }}
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Регистрация
                        </button>
                        <hr class="my-4">
                        <div class="text-center"><a href="{{ path('app_login') }}">Я уже зарегистрирован</a></div>
                        {{ form_end(registrationForm) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block footer %}{% endblock %}