<h1 class="mt-4">{{ title }}</h1>
<div class="media">
    <img class="mr-3" src="{{ image }}" width="446" height="250" alt="">
    <div class="media-body">
        <p>{{ paragraph }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <p>{{ paragraph }}</p>
    </div>
    <div class="col-sm-6">
        <p>{{ paragraph }}</p>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <p>{{ paragraph }}</p>
    </div>
    <img class="ml-3" src="{{ image }}" width="446" height="250" alt="">
</div>